header.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgba(33, 33, 33, 0.613), rgba(255, 255, 255, 0.01));
  color: white;
}

header nav div.logoDiv {
  text-align: start;
  padding-left: 1em;
}

header nav div.logoDiv div.logo-letters {
  font-size: 4em;
  font-weight: 900;
  font-family: 'Dosis', sans-serif;
  font-style: italic;
  cursor: pointer;
}

header nav.navBar {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  width: 100%;
}

header nav.navBar ul {
  list-style-type: none;
  display: none;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

header nav.navBar ul li {
  font-size: 1.3em;
  margin: 0.5em 1em;
  cursor: pointer;
}

div.infoButton {
  margin-top: 1em;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
}
div.infoButton div.socials {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: end;
  width: 100%;

}

div.infoButton div.socials img {
  width: 3em;
  margin: 0 1em;
  filter: invert(100%);
  cursor: pointer;
}

div.infoButton div.buttons-header {
  margin: 1.5em 0;
  width: 100%;
  display: none;
  flex-flow: row;
  justify-content: center;
}

div.infoButton div.buttons-header button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.1em;
  padding: 1em 1.5em;
  border: white 1px solid;
  border-radius: 8px;
  margin: 1em;
  cursor: pointer;
  transition: all .24s linear;
}
div.infoButton div.buttons-header button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


@media (min-width:640px){
  html {
    font-size: 80%;
  }
  header.header {
    background: #11111122;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.51);
  }

  header nav.navBar {
    flex-flow: row;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  header nav.navBar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
  }

  header nav.navBar ul li {
    font-size: 1em;
    margin: 0em 1em;
  }

  div.infoButton {
    position: relative;
    top: 0;
    left: 0;
    flex-flow: row;
    margin: 0;
  }
  div.infoButton div.socials {
    justify-content: flex-end;
    flex: 2;
  }
  div.infoButton div.socials img {
    width: 2em;
  }
  div.infoButton div.buttons-header {
    width: auto;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  div.infoButton div.buttons-header button {
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0 1em;
  }
}

@media (min-width:767px) {
  html {
    font-size: 80%;
  }
}

@media (min-width:1024px) {
  html {
    font-size: 100%;
  }
}