//SCSS variables: 

$bold-text-color: rgb(244, 7, 7);
$font-style-p: 'Kanit', sans-serif;
$font-style-headers: 'Righteous', cursive;

//SCSS maps:

$font-weights: ( //Create the name of the map as a variable.
  "regular": 400, // Add the different values you want your map to have in.
  "medium": 500,
  "bold": 700
);// close the map.

// functions made with SASS
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name )
}

// mixins 

@mixin FlexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: $direction;
}

@mixin theme ($light-theme: true){
  @if $light-theme {
    background-color: darken(rgb(19, 18, 18), 100%);
    color: lighten(#f5f0f0, 100%);
  }
}
