@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* Font Styles:
  font-family: 'Kanit', sans-serif;

  font-family: 'Dosis', sans-serif;

  font-family: 'Righteous', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
    border: 0.5px solid red;
  */

  
  
}

html {
  font-size: 70%;
  font-family: 'Kanit', sans-serif;
}



/*
main {
  height: 300px;
  width: 300px;
  position: relative;
}

#myVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
*/
